[submodule ".config/eww"]
	path = .config/eww
	url = https://github.com/HypoxiE/eww-configs
[submodule "scripts/hypoxlogin"]
	path = scripts/hypoxlogin
	url = https://github.com/HypoxiE/go-login-system
	